@font-face {
  font-family: StdBlack;
  src: url("assets/fonts/CircularStdBlack.ttf")
}

@font-face {
  font-family: StdBold;
  src: url("assets/fonts/CircularStdBold.ttf");
}

@font-face {
  font-family: StdBook;
  src: url("assets/fonts/CircularStdBook.ttf");
}

@font-face {
  font-family: StdMedium;
  src: url("assets/fonts/CircularStdMedium.ttf");
}
*{
  margin: 0;
  padding: 0;
}


body {
  background-color: #212121;
  color: #eeeeee;
  font-family: "Nunito", sans-serif;

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
  background: #34FFC8;
}

::-webkit-scrollbar-track {
  background: #212121;
}


#__react-alert__ div div div{
  background: #fe4c50 !important;
  
  width: unset !important;
}

#__react-alert div div div span{
  font-size: 15px;
    text-transform: capitalize;
    font-family: StdBold;
    color: #fff;
}